
<div class="container">

  <h1>Stupid Coaching</h1>




  <div class="style">
    <p><%= @message %></p>
    <p>-you</p>
  </div>


  <div class="box">
   <p><%= @response %> </p>
 </div>
 <p>-your coach</p>
 <h6><%=link_to"Ask a new question", ask_path%></h6</div>
