<div class="container">

    <h1>Stupid Coaching</h1>


    <h2>Ask your coach anything</h2>


  <form action="/answer">
    <div class="input-group mb-3">
      <input type="text" name="question" class="form-control" placeholder="Question">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Ask</button>
      </div>
    </div>
  </form>
</div>

<!-- <form action="/answer">
  <input class="input-space" type="text" name="question" placeholder="question">

  <input type="submit" class ="btn btn-primary" value="Ask!">
</form> -->
